{{#extends "_layout"}}
    {{#override "pageTitle"}}{{l10n "Send chat history<br/>by mail"}}{{/override}}

    {{#if errors}}
        {{#override "message"}}
            <b>{{l10n "Correct the mistakes:"}}</b><br/>
            <ul>
            {{#each errors}}
                <li class="error">{{{this}}}</li>
            {{/each}}
            </ul>
        {{/override}}
    {{else}}
        {{#override "headers"}}{{/override}}
    {{/if}}

    {{#override "content"}}
        <form class="mailThreadForm" name="mailThreadForm" method="post" action="{{route "chat_user_mail_send" thread_id=this.[chat.thread.id] token=this.[chat.thread.token]}}">
            <input type="hidden" name="style" value="{{styleName}}"/>
            <input type="hidden" name="level" value="{{level}}"/>
            <label for="email" class="sr-only">{{l10n "Enter your email:"}}</label>
            <input type="email" id="email" name="email" size="20" value="{{formemail}}" class="form-input" placeholder="you@example.com" />
            <a class="btn btn-primary" href="javascript:document.mailThreadForm.submit();">{{l10n "Send"}}</a>
        </form>
    {{/override}}
{{/extends}}
